<div class="w-full h-screen flex flex-col items-center">
  <h1 class="text-white text-6xl mb-5">My Bets</h1>
  
  <div class="w-9/12 flex flex-col">
    <%= if @loading do %>
      <div class="w-full h-20 flex justify-center items-center">
        <span class="text-white">Loading...</span>
      </div>
    <% else %>
      <%= for bet <- @bets do %>
        <.bet bet={bet} />
      <% end %>
    <% end %>
  </div>
</div>
